<div class="container bg-light p-4 rounded-4">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center" style="font-weight: bolder">
                ADMINISTRADOR DE CATEGORÍAS
            </h1>
        </div>

        <div class="col-6 my-3">
            <app-admin-category-search
                (searchButtonClick)="onSearchButtonClicked($event)"
            ></app-admin-category-search>
        </div>

        <div class="col-6 my-3">
            <button
                type="button"
                class="btn btn-danger"
                style="width: 80px"
                (click)="onAddButtonClick()"
            >
                Agregar
            </button>
        </div>
    </div>

    <table class="table table-striped table-hover align-middle m-0">
        <thead>
            <tr>
                <th
                    *ngFor="let header of listOfHeaders; let i = index"
                    [ngStyle]="listOfWidths[i]"
                >
                    {{ header }}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="
                    let category of filteredCategoryList
                        | paginate
                            : { itemsPerPage: itemsPerPage, currentPage: p };
                    let i = index
                "
            >
                <td>
                    <strong>{{ (p - 1) * itemsPerPage + i + 1 }}</strong>
                </td>
                <td>{{ category.code }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
                <td class="text-center">
                    <button
                        type="button"
                        class="btn btn-sm btn-warning"
                        style="width: 80px"
                        (click)="onEditCategoryButtonClick(category.id)"
                    >
                        {{ editButtonLabel }}
                    </button>
                </td>
                <td class="text-center">
                    <button
                        type="button"
                        class="btn btn-sm btn-danger"
                        style="width: 80px"
                        (click)="onDeleteCategoryButtonClick(category.id)"
                    >
                        {{ deleteButtonLabel }}
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6" class="text-center">
                    <pagination-controls
                        class="p-0"
                        (pageChange)="onPageChange($event)"
                        [previousLabel]="previousLabel"
                        [nextLabel]="nextLabel"
                    ></pagination-controls>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
