.container-fluid {
    background-color: #680c34;
}

.navigation {
    background-color: #f11d7950;
    border-radius: 24px;
    padding: 0;
}

.navigation ul {
    padding: 6px 8px;
}

.navigation ul li {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation ul li a {
    color: #ffffff !important;
    border-radius: 24px;
    font-size: 1.075em;
    font-weight: 700;
    padding: 8px 12px;
    letter-spacing: 1.25px;
    text-decoration: none;
    user-select: none;
    transition: 0.333s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation ul li a:hover:not(.active) {
    background-color: #680c34c7;
}

.navigation ul li a.active {
    background-color: #ce0059;
    font-size: 1.125em;
    font-weight: 900;
    letter-spacing: 2px;
    text-shadow: 0.5px 1px #000, 0.7px 1px #000;
}