<div class="container-fluid" style="margin-top: -16px;">
    <div class="d-flex justify-content-center align-items-center py-2">
        <div class="navigation">
            <ul
                class="d-block d-sm-flex justify-content-center align-items-center gap-1"
            >
                <li *ngFor="let route of routes">
                    <a
                        [routerLinkActive]="['active']"
                        [routerLink]="route.link"
                        >{{ route.name | uppercase }}</a
                    >
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="my-3">
    <router-outlet></router-outlet>
</div>
