<nav class="navbar navbar-expand-md px-0 py-3 jx-navbar">
    <div class="container-fluid">
        <div class="jx-navbar-container" id="navbarScroll">
            <ul class="nav justify-content-center">
                <li
                    class="jx-nav-item"
                    *ngFor="let route of routes"
                    [routerLinkActive]="['jx-nav-item-active']"
                >
                    <a
                        [routerLinkActive]="['jx-nav-item-link-active']"
                        class="jx-nav-item-link"
                        [routerLink]="route.link"
                        >{{ route.name | uppercase }}</a
                    >
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="my-3">
    <router-outlet></router-outlet>
</div>
