<div class="container p-2">
    <div class="results">
        {{
            "Se han encontrado " +
                filteredArticleCardList.length +
                " resultados."
        }}
    </div>
    <div class="row justify-content-center">
        <div class="spinner" *ngIf="isFetching || isFiltering"></div>

        <div *ngIf="!isFetching && !isFiltering && isEmpty">
            No se han encontrado resultados.
        </div>

        <app-mp-article-card
            *ngFor="
                let articleCard of filteredArticleCardList
                    | paginate
                        : { itemsPerPage: pageSize, currentPage: pageNumber };
                let i = index
            "
            class="col-sm-6 col-md-6 col-lg-4 col-xl-4 my-3"
            [article]="articleCard"
        ></app-mp-article-card>

        <div
            class="col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex flex-column align-items-center mt-4"
        >
            <pagination-controls
                (pageChange)="pageNumber = $event"
                previousLabel="Anterior"
                nextLabel="Siguiente"
            ></pagination-controls>
        </div>
    </div>
</div>
