<button class="close-button" [mat-dialog-close]="undefined">
    <i class="bi bi-x-lg"></i>
</button>

<div mat-dialog-content class="container scrolly">
    <form
        *ngIf="productForm"
        [formGroup]="productForm"
        (ngSubmit)="OnFormSubmitted()"
    >
        <div class="vstack gap-3">
            <div class="pb-2 text-center">
                <span class="title">{{
                    productFormTitle | uppercase
                }}</span>
            </div>

            <div class="form-field">
                <select
                    id="pcat"
                    class="dg-input"
                    (change)="onCategoryOptionSelectChange($event)"
                    formControlName="category"
                    tabindex="-1"
                    [ngClass]="{
                        'has-content': productForm.get('category').value != null
                    }"
                >
                    <option
                        style="font-size: 1em"
                        *ngFor="let categoryOption of categoryOptionList"
                        value="{{ categoryOption.id }}"
                        title="{{ categoryOption.name }}"
                    >
                        {{ categoryOption.name | uppercase }}
                    </option>
                </select>
                <label for="pcat" class="label">{{ "categoria" }}</label>
                <small
                    *ngIf="productForm.get('category').errors?.['required'] && productForm.get('category').touched"
                >
                    *Este campo es obligatorio.
                </small>
            </div>

            <div class="hstack gap-2">
                <div class="form-field w-75">
                    <select
                        id="ptags"
                        class="dg-input"
                        formControlName="tags"
                        tabindex="-1"
                        [ngClass]="{
                            'has-content': productForm.get('tags').value != 0
                        }"
                    >
                        <option value="0" hidden></option>
                        <optgroup
                            style="font-size: 1em"
                            *ngFor="
                                let commodityOptionSubList of filteredCommodityOptionList
                            "
                            label="{{
                                commodityOptionSubList.class | uppercase
                            }}"
                            title="{{
                                commodityOptionSubList.class | uppercase
                            }}"
                        >
                            <option
                                style="font-size: 1em"
                                *ngFor="
                                    let commodityOption of commodityOptionSubList.commodityOptionList
                                "
                                value="{{ commodityOption.id }}"
                                title="{{ commodityOption.name }}"
                                [disabled]="
                                    selectedCommodityOptionList.includes(
                                        commodityOption.id
                                    )
                                "
                            >
                                {{ getUnavailableCommodityOptionName(commodityOption.id) + (commodityOption.name | uppercase) }}
                            </option>
                        </optgroup>
                    </select>
                    <label for="ptags" class="label">{{ "etiqueta" }}</label>
                </div>
                <button
                    type="button"
                    class="dg-button w-25"
                    (click)="onAddCommodityOptionButtonClick()"
                    [disabled]="productForm.get('tags').value === 0"
                >
                    <span>{{ "añadir" | uppercase }}</span>
                </button>
            </div>

            <div
                class="form-field gap-2 scrolly"
                style="max-height: 100px"
                *ngIf="selectedCommodityOptionList.length > 0"
            >
                <div class="vstack gap-1">
                    <div
                        class="tag-badge"
                        style="font-size: 0.5em"
                        *ngFor="
                            let selectedCommodity of selectedCommodityOptionList
                        "
                    >
                        <span
                            [title]="getCommodityOptionName(selectedCommodity)"
                            >{{
                                getCommodityOptionName(selectedCommodity)
                            }}</span
                        >
                        <button
                            (click)="
                                onRemoveCommodityOptionButtonClick(
                                    selectedCommodity
                                )
                            "
                        >
                            <i class="bi bi-x-lg"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="form-field">
                <input
                    type="text"
                    id="pname"
                    class="dg-input"
                    formControlName="name"
                    tabindex="-1"
                    [ngClass]="{
                        'has-content': productForm.get('name').value?.length > 0
                    }"
                />
                <label for="pname" class="label">{{ "nombre" }}</label>
                <button
                    *ngIf="productForm.get('name').value?.length > 0"
                    (click)="productForm.patchValue({ name: '' })"
                >
                    <i class="bi bi-x-lg"></i>
                </button>
                <small
                    *ngIf="productForm.get('name').errors?.['required'] && productForm.get('name').touched"
                >
                    *Este campo es obligatorio.
                </small>
            </div>

            <div class="form-field">
                <textarea
                    type="text"
                    id="pdesc"
                    class="dg-input"
                    formControlName="description"
                    tabindex="-1"
                    [ngClass]="{
                        'has-content':
                            productForm.get('description').value?.length > 0
                    }"
                ></textarea>
                <label for="pdesc" class="label">{{ "descripcion" }}</label>
                <button
                    *ngIf="productForm.get('description').value?.length > 0"
                    (click)="productForm.patchValue({ description: '' })"
                >
                    <i class="bi bi-trash"></i>
                </button>
            </div>

            <div class="form-field">
                <input
                    type="text"
                    id="pimg"
                    class="dg-input"
                    formControlName="image"
                    tabindex="-1"
                    [ngClass]="{
                        'has-content':
                            productForm.get('image').value?.length > 0
                    }"
                />
                <label for="pimg" class="label">{{ "imagen" }}</label>
                <button
                    *ngIf="productForm.get('image').value?.length > 0"
                    (click)="productForm.patchValue({ image: '' })"
                >
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>

            <div class="hstack pt-2 justify-content-center gap-2">
                <button
                    type="submit"
                    class="dg-button w-50"
                    [disabled]="productForm.invalid"
                >
                    <span>{{ productFormSaveButtonTitle | uppercase }}</span>
                </button>
                <button
                    [mat-dialog-close]="undefined"
                    type="button"
                    class="dg-button w-50"
                >
                    <span>{{ "cancelar" | uppercase }}</span>
                </button>
            </div>
        </div>
    </form>
</div>
