.container-fluid {
    background-color: #a8144c;
}

.payment-container {
    padding: 16px 0;
    background: #680c3450;
    border-radius: 12px;
}

.payment-container .title {
    color: #fff;
    margin: 0;
    padding: 6px 8px;
    font-size: 2.5em;
    font-weight: 900;
    text-align: center;
    letter-spacing: 4px;
    line-height: 1.25cap;
}

.payment-methods ul {
    padding: 6px 8px;
}

.payment-methods ul li {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment-methods ul li span {
    color: #fff;
    font-family: "Fira Sans", "Arial Narrow", Arial, sans-serif;
    font-size: 1.075em;
    font-weight: 500;
    text-transform: uppercase;
}

.payment-methods ul li span.coming-soon {
    font-size: 1.25em;
    font-weight: 700;
    letter-spacing: 4px;
    color: #a5ff2f;
    margin-left: 12px;
}

.payment-methods ul li img {
    width: auto;
    height: 45px;
    margin-left: 12px;
    user-select: none;
}

.sub-container {
    color: #fff;
    text-transform: uppercase;
}

.sub-container .title {
    color: #ffffff;
    margin: 0 0 12px 0;
    font-size: 2.25em;
    font-weight: 800;
}

img {
    width: 40px;
    height: auto;
}

.google-map {
    margin-top: 8px;
    padding-bottom: 50%;
    position: relative;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}
