<div class="container p-lg-2">
    <div class="py-2 px-0">
        <div class="jx-title">
            {{ "categorías" | uppercase }}
        </div>
        <div class="row m-0 scrolly">
            <div
                class="col-6 col-md-12 col-lg-6 text-center"
                *ngFor="let categoryFilter of categoryFilterList"
            >
                <div class="jx-toggle d-flex justify-content-center">
                    <input
                        type="checkbox"
                        id="{{ categoryFilter.id }}"
                        autocomplete="off"
                        value="{{ categoryFilter.id }}"
                        (change)="onCategoryFilterCheckboxChange($event)"
                    />
                    <label
                        class="jx-toggle-btn d-flex"
                        for="{{ categoryFilter.id }}"
                    >
                        <img
                            class="align-self-center"
                            src="{{ categoryFilter.image }}"
                            alt=""
                        />
                    </label>
                </div>
                <p class="jx-category-title p-0 mt-1 mb-2 m-0">
                    {{ categoryFilter.name | uppercase }}
                </p>
            </div>
        </div>
    </div>
    <hr
        class="m-0 mb-2 p-0"
        style="color: white"
        *ngIf="this.selectedCategoryFilterIdList.length > 0"
    />
    <div class="py-2 px-0" *ngIf="this.selectedCategoryFilterIdList.length > 0">
        <div class="jx-title">
            {{ "productos" | uppercase }}
        </div>
        <div class="row m-0 p-0 scrolly">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div *ngFor="let cat of categoryFilterList">
                    <div
                        *ngIf="selectedCategoryFilterIdList.includes(cat.id)"
                        class="jx-subtitle"
                    >
                        {{ cat.name }}
                    </div>
                    <ng-container
                        *ngFor="let productFilter of filteredProductFilterList"
                    >
                        <div
                            class="jx-toggle d-flex justify-content-center mb-1"
                            *ngIf="productFilter.categoryId === cat.id"
                        >
                            <input
                                type="checkbox"
                                id="{{ productFilter.id + 'p' }}"
                                autocomplete="off"
                                value="{{ productFilter.id }}"
                                (change)="onProductFilterCheckboxChange($event)"
                                [checked]="
                                    selectedProductFilterIdList.includes(
                                        productFilter.id
                                    )
                                "
                            />
                            <label
                                class="jx-snack-btn d-flex"
                                for="{{ productFilter.id + 'p' }}"
                            >
                                <p class="jx-product-title">
                                    {{ productFilter.name | uppercase }}
                                </p>
                                <i
                                    *ngIf="
                                        selectedProductFilterIdList.includes(
                                            productFilter.id
                                        )
                                    "
                                    class="bi bi-check"
                                ></i>
                            </label>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
