<div class="card" style="width: auto">
    <img
        class="card-img-top"
        src="{{ article.img }}"
        title="{{ article.name }}"
    />

    <div class="card-body">
        <div class="card-title">
            {{ article.name | uppercase }}
        </div>

        <div class="d-flex justify-content-between mb-2">
            <span class="text-success" style="font-size: 18px; font-weight: 600"
                >S/. {{ article.price }}</span
            >
            <span class="text-danger" style="font-size: 14px"
                ><s>S/. {{ article.price }}</s></span
            >
        </div>

        <div class="d-flex justify-content-between mb-2">
            <span
                class="text-muted"
                style="font-size: 14px; font-weight: 400; user-select: none"
            >
                Disponible: <strong>{{ article.stock + " u" }}</strong>
            </span>
        </div>

        <div class="d-flex flex-column">
            <button type="button" class="btn" *ngIf="article.stock > 0">
                <span>
                    {{ "¡agregar al carrito!" | uppercase }}
                </span>
            </button>
            <button type="button" class="btn mt-2">
                <span>{{ "¡ver más info!" | uppercase }} </span>
            </button>
        </div>
    </div>
</div>
