<div class="container d-grid justify-content-center">
    <div class="vstack gap-3 p-3">
        <div class="logo text-center">INICIAR SESIÓN</div>
        <form action="" class="w-100">
            <div class="user-form">
                <div class="form-field">
                    <input type="text" id="username" placeholder="Usuario" />
                    <label for="username">
                        <i class="bi bi-person-fill"></i>
                    </label>
                </div>
                <div class="form-field">
                    <input
                        type="password"
                        id="password"
                        placeholder="Contraseña"
                        #password
                    />
                    <label for="password">
                        <i class="bi bi-key-fill"></i>
                    </label>
                </div>
                <div class="form-check">
                    <input
                        type="checkbox"
                        name=""
                        id="showPassword"
                        value="Mostrar contraseña"
                        (click)="showPassword()"
                    />
                    <label for="showPassword">{{ "Mostrar contraseña" }}</label>
                </div>
                <div class="form-button">
                    <button type="submit">Ingresar</button>
                </div>
            </div>
        </form>
        <div class="user-options d-flex justify-content-between gap-5">
            <a href="">¿Has olvidado la contraseña?</a>
            <a href="">Registrarse</a>
        </div>
    </div>
</div>
