input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

.container input {
    width: 500px;
    height: 40px;
    background-color: #f3f3f3;
    border: 1px solid #bebebe;
    border-radius: 25px;
    padding: 0 40px 0 16px;
    font-size: 15px;
    font-weight: 400;
    transition: 0.3s ease-in-out;
}

.container input:hover {
    border-color: #a8144d;
}

.container input:focus {
    outline: none;
    border: 1px solid #ce0059;
    box-shadow: 0 0 0 1px #ce0059 inset;
}

.container button {
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    border-radius: 100%;
    margin-left: -35px;
    padding: 4px 12px;
    transition: 0.3s ease-in-out;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.container button i {
    font-size: 1.4em;
}

.container button:hover {
    background-color: #dddddd;
}

.container button:active {
    transform: scale(1.125);
    transition: none;
}
