<div class="container bg-light p-4 rounded-4">
    <div class="row">
        <div class="col-12">
            <h1 class="title">
                {{ "administrador de productos" | uppercase }}
            </h1>
        </div>

        <div class="col-12 my-3">
            <div class="row">
                <div class="col-6">
                    <app-admin-product-search
                        (searchInputChange)="onSearchInputChangeEvent($event)"
                    ></app-admin-product-search>
                </div>

                <div class="col-6">
                    <button
                        type="button"
                        class="add-btn me-2"
                        (click)="onAddProductButtonClick()"
                    >
                        <i class="bi bi-plus"></i>
                        <span>{{ "agregar" | uppercase }}</span>
                    </button>
                    <button
                        type="button"
                        class="add-btn"
                        (click)="onUpdateButtonClick()"
                    >
                        <i class="bi bi-arrow-clockwise"></i>
                        <span>{{ "actualizar" | uppercase }}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 scrolly">
            <table class="align-middle m-0">
                <thead>
                    <tr>
                        <th
                            *ngFor="let header of listOfHeaders; let i = index"
                            [ngStyle]="listOfWidths[i]"
                        >
                            {{ header }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="
                            let product of filteredProductList
                                | paginate
                                    : {
                                          itemsPerPage: itemsPerPage,
                                          currentPage: p
                                      };
                            let i = index
                        "
                    >
                        <td>
                            <strong>{{
                                (p - 1) * itemsPerPage + i + 1
                            }}</strong>
                        </td>
                        <td>{{ product.code }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td class="text-center">
                            <div class="hstack gap-2">
                                <button
                                    type="button"
                                    class="add-btn-sm"
                                    (click)="
                                        onEditProductButtonClick(product.id)
                                    "
                                >
                                    <i class="bi bi-pencil-square"></i>
                                    <span>{{
                                        editButtonLabel | uppercase
                                    }}</span>
                                </button>
                                <button
                                    type="button"
                                    class="add-btn-sm"
                                    (click)="
                                        onDeleteProductButtonClick(product.id)
                                    "
                                >
                                    <i class="bi bi-trash-fill"></i>
                                    <span>{{
                                        deleteButtonLabel | uppercase
                                    }}</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12 m-3 text-center">
            <pagination-controls
                class="p-0"
                (pageChange)="onPageChange($event)"
                [previousLabel]="previousLabel"
                [nextLabel]="nextLabel"
            ></pagination-controls>
        </div>
    </div>
</div>
