<div class="container p-4">
    <div class="row gap-3">
        <div class="col-12 text-center mb-2">
            <span class="title">
                {{ "administracion de productos" | uppercase }}
            </span>
        </div>

        <div class="col-12">
            <div class="row gap-3 gap-sm-0">
                <div class="col-12 col-sm-6">
                    <app-admin-product-search
                    [inputPlaceholder]="placeholder"
                        (searchInputChange)="onSearchInputChangeEvent($event)"
                    ></app-admin-product-search>
                </div>

                <div class="col-12 col-sm-6">
                    <div class="hstack gap-2">
                        <button
                            type="button"
                            class="button"
                            (click)="onAddProductButtonClick()"
                        >
                            <i class="bi bi-plus-lg"></i>
                            <span>{{ "agregar" | uppercase }}</span>
                        </button>
                        <button
                            type="button"
                            class="button"
                            (click)="onUpdateButtonClick()"
                        >
                            <i class="bi bi-arrow-clockwise"></i>
                            <span>{{ "actualizar" | uppercase }}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 scrolly">
            <table matSort (matSortChange)="onSortChangeEvent($event)">
                <thead>
                    <tr>
                        <th
                            *ngFor="let header of headerList"
                            [ngStyle]="header.styles"
                            mat-sort-header="{{ header.name }}"
                            disabled="{{ header.disabled }}"
                        >
                            {{ header.label }}
                        </th>
                    </tr>
                </thead>
                <tbody [ngSwitch]="webPageDataStatus">
                    <tr
                        *ngIf="webPageDataStatus !== 'data'; else data"
                        class="optional"
                    >
                        <td *ngSwitchCase="'fetching'" colspan="7">
                            <div class="spinner"></div>
                        </td>
                        <td *ngSwitchCase="'loading'" colspan="7">
                            <div class="spinner"></div>
                        </td>
                        <td *ngSwitchCase="'empty'" colspan="7">
                            No se han encontrado resultados.
                        </td>
                        <td *ngSwitchCase="'error'" colspan="7">
                            Hubo un error con el servidor.
                        </td>
                    </tr>
                    <ng-template #data>
                        <tr
                            *ngFor="
                                let product of filteredProductList
                                    | paginate
                                        : {
                                              itemsPerPage: itemsPerPage,
                                              currentPage: p
                                          };
                                let i = index
                            "
                        >
                            <td class="text-center">
                                <strong>{{
                                    (p - 1) * itemsPerPage + i + 1
                                }}</strong>
                            </td>
                            <td class="text-center">{{ product.code | uppercase }}</td>
                            <td>{{ product.name | uppercase }}</td>
                            <td>{{ product.description }}</td>
                            <td>
                                <div
                                    class="w-100 d-flex justify-content-center"
                                >
                                    <button
                                        type="button"
                                        class="button-sm"
                                        (click)="
                                            onOpenProductImageButtonClick(
                                                product.image
                                            )
                                        "
                                    >
                                        <i class="bi bi-image"></i>
                                    </button>
                                </div>
                            </td>
                            <td class="text-center">{{ product.category | uppercase }}</td>
                            <td>
                                <div
                                    class="hstack gap-2 justify-content-center"
                                >
                                    <button
                                        type="button"
                                        class="button-sm"
                                        (click)="
                                            onEditProductButtonClick(product.id)
                                        "
                                    >
                                        <i class="bi bi-pencil-square"></i>
                                    </button>
                                    <button
                                        type="button"
                                        class="button-sm"
                                        (click)="
                                            onDeleteProductButtonClick(
                                                product.id
                                            )
                                        "
                                    >
                                        <i class="bi bi-trash-fill"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </tbody>
            </table>
        </div>

        <div class="col-12 text-center">
            <pagination-controls
                class="m-0 p-0"
                style="font-size: 0.5em"
                (pageChange)="onPageChangeEvent($event)"
                [previousLabel]="previousLabel"
                [nextLabel]="nextLabel"
            ></pagination-controls>
        </div>
    </div>
</div>
