.container {
    background-color: #f4f4f4;
    border-radius: 24px;
    font-size: 28px;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #aeaeae;
    border-top: 4px solid #a8144d;
    border-radius: 100%;
    margin: auto;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.title {
    font-size: 0.95em;
    font-weight: 800;
    text-align: center;
    line-height: 1.5cap;
    text-transform: uppercase;
}

.button {
    color: #fff;
    height: 36px;
    background: #a8144d;
    border: none;
    border-radius: 24px;
    margin: 0;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.333s ease-in-out;
}

.button:hover {
    color: #fff;
    background: #ce0059;
}

.button:active {
    transform: translateY(1.5px);
    transition-duration: 0s;
}

.button i,
.button span {
    font-size: 0.5em;
    line-height: normal;
}

.button i {
    margin-right: 4px;
}

.button span {
    font-weight: 500;
    display: block;
}

/* button-sm */
.button-sm {
    color: #fff;
    height: 30px;
    background: #a8144d;
    border: none;
    border-radius: 100%;
    margin: 0;
    padding: 8px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.333s ease-in-out;
}

.button-sm:hover {
    background-color: #ce0059;
}

.button-sm:active {
    transform: translateY(1px);
    transition: none;
}

.button-sm:disabled {
    background-color: #aeaeae;
}

.button-sm i {
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* table */
table {
    min-width: 100%;
    table-layout: fixed;
}

table tr th {
    color: #fff !important;
    background-color: #a8144d;
    border-radius: 12px 12px 0 0;
    padding: 8px 16px;
    font-size: 0.55em;
    font-weight: 600;
    text-align: center;
    transition: 0.333s ease-in-out;
}

::ng-deep .mat-sort-header-container {
    display: flex;
    justify-content: center;
}

::ng-deep .mat-sort-header-arrow {
    color: #fff; /*change color of arrow*/
}

table:hover tr th {
    background-color: #ce0059;
}

table tr td {
    color: #000;
    background-color: #fff;
    padding: 8px 16px;
    font-size: 0.5em;
    font-weight: 500;
    transition: 0.333s ease-in-out;
}

table tr.optional td {
    box-shadow: 1px -1px 0 0 #a8144d inset, -1px -1px 0 0 #a8144d inset !important;
    border-radius: 0 0 12px 12px !important;
}

table:hover tr.optional td {
    box-shadow: 1px -1px 0 0 #ce0059 inset, -1px -1px 0 0 #ce0059 inset !important;
}

table tr td:first-child {
    box-shadow: 1px -1px 0 0 #a8144d inset;
}

table:hover tr td:first-child {
    box-shadow: 1px -1px 0 0 #ce0059 inset;
}

table tr td:not(:first-child):not(:last-child) {
    box-shadow: 0 -1px 0 0 #a8144d inset;
}

table:hover tr td:not(:first-child):not(:last-child) {
    box-shadow: 0 -1px 0 0 #ce0059 inset;
}

table tr td:last-child {
    box-shadow: -1px -1px 0 0 #a8144d inset;
}

table:hover tr td:last-child {
    box-shadow: -1px -1px 0 0 #ce0059 inset;
}

table tr:last-child td:first-child {
    border-radius: 0 0 0 12px;
}

table tr:last-child td:last-child {
    border-radius: 0 0 12px 0;
}

table tr:hover td {
    background-color: #ce005911;
    color: #ce0059;
}

/*scroll*/
.scrolly {
    /* overflow-y: hidden; */
    overflow-x: auto;
    scrollbar-width: 0px;
}

.scrolly::-webkit-scrollbar {
    height: 16px;
}

.scrolly::-webkit-scrollbar-track {
    background: #e7e7e7;
}

.scrolly::-webkit-scrollbar-thumb {
    background-color: #c7c7c7;
    border-radius: 0px;
    border: 2px solid #e7e7e7;
}

.scrolly::-webkit-scrollbar-thumb:hover {
    background-color: #a8144d;
}

.scrolly::-webkit-scrollbar-thumb:active {
    background-color: #ce0059;
}
