<div class="container bg-light p-4 rounded-4">
    <div class="row">
        <div class="col-12">
            <h1 class="title">
                {{ "administrador de categorías" | uppercase }}
            </h1>
        </div>

        <div class="col-12 my-3">
            <div class="row">
                <div class="col-6">
                    <app-admin-category-search
                        (searchInputChange)="onSearchInputChangeEvent($event)"
                    ></app-admin-category-search>
                </div>

                <div class="col-6">
                    <button
                        type="button"
                        class="add-btn me-2"
                        (click)="onAddArticleButtonClick()"
                    >
                        <i class="bi bi-plus"></i>
                        <span>{{ "agregar" | uppercase }}</span>
                    </button>
                    <button
                        type="button"
                        class="add-btn"
                        (click)="onUpdateButtonClick()"
                    >
                        <i class="bi bi-arrow-clockwise"></i>
                        <span>{{ "actualizar" | uppercase }}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 scrolly">
            <table>
                <thead>
                    <tr>
                        <th
                            *ngFor="let header of listOfHeaders; let i = index"
                            [ngStyle]="listOfWidths[i]"
                        >
                            {{ header }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="
                            let article of filteredArticleList
                                | paginate
                                    : {
                                          itemsPerPage: itemsPerPage,
                                          currentPage: p
                                      };
                            let i = index
                        "
                    >
                        <td>
                            <strong>{{
                                (p - 1) * itemsPerPage + i + 1
                            }}</strong>
                        </td>
                        <td>{{ article.code }}</td>
                        <td>{{ article.name }}</td>
                        <td>{{ article.description }}</td>
                        <td>{{ article.price }}</td>
                        <td>{{ article.stock }}</td>
                        <td>{{ "article.img" }}</td>
                        <td>{{ article.barCode }}</td>
                        <td class="text-center">
                            <div class="hstack gap-2">
                                <button
                                    type="button"
                                    class="add-btn-sm"
                                    (click)="
                                        onEditArticleButtonClick(article.id)
                                    "
                                >
                                    <i class="bi bi-pencil-square"></i>
                                    <span>{{
                                        editButtonLabel | uppercase
                                    }}</span>
                                </button>
                                <button
                                    type="button"
                                    class="add-btn-sm"
                                    (click)="
                                        onDeleteArticleButtonClick(article.id)
                                    "
                                >
                                    <i class="bi bi-trash-fill"></i>
                                    <span>{{
                                        deleteButtonLabel | uppercase
                                    }}</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12 m-3 text-center">
            <pagination-controls
                class="p-0"
                (pageChange)="onPageChange($event)"
                [previousLabel]="previousLabel"
                [nextLabel]="nextLabel"
            ></pagination-controls>
        </div>
    </div>
</div>
