<div class="container">
    <nav>
        <h2>Filtros</h2>
        <form>
            <h3>Categoría</h3>
            <select class="form-select">
                <option *ngFor="let category of listOfCategories" [value]="category.code">
                    {{category.code}}
                </option>
            </select>

            <h3>Producto</h3>
            <select class="form-select">
                <option *ngFor="let product of listOfProducts" [value]="product.code">
                    {{product.code}}
                </option>
            </select>
        </form>
    </nav>
</div>