<div class="container bg-primary p-2 rounded">
    <table class="table table-sm table-striped table-hover">
        <thead>
            <tr>
                <th *ngFor="let header of listOfHeaders">{{header}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of listOfCategories | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
                <td>{{category.code}}</td>
                <td>{{category.name}}</td>
                <td>{{category.description}}</td>
                <td><button type="button" class="btn btn-sm btn-warning">{{editButtonLabel}}</button></td>
                <td><button type="button" class="btn btn-sm btn-danger">{{deleteButtonLabel}}</button></td>
            </tr>
        </tbody>
    </table>
</div>

<pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>