<button class="close-button" [mat-dialog-close]="undefined">
    <i class="bi bi-x-lg"></i>
</button>

<div mat-dialog-content class="container scrolly">
    <form
        *ngIf="categoryForm"
        [formGroup]="categoryForm"
        (ngSubmit)="OnFormSubmitted()"
    >
        <div class="vstack gap-3">
            <div class="pb-2 text-center">
                <span class="title">{{
                    categoryFormTitle | uppercase
                }}</span>
            </div>

            <div class="hstack gap-2">
                <div class="form-field w-75">
                    <select
                        id="ctags"
                        class="dg-input"
                        formControlName="tags"
                        tabindex="-1"
                        [ngClass]="{
                            'has-content': categoryForm.get('tags').value != 0
                        }"
                    >
                        <option value="0" hidden></option>
                        <optgroup
                            style="font-size: 1em"
                            *ngFor="
                                let classOptionSubList of filteredClassOptionList
                            "
                            label="{{ classOptionSubList.family | uppercase }}"
                            title="{{ classOptionSubList.family | uppercase }}"
                        >
                            <option
                                style="font-size: 1em"
                                *ngFor="
                                    let classOption of classOptionSubList.classOptionList
                                "
                                value="{{ classOption.id }}"
                                title="{{ classOption.name }}"
                                [disabled]="
                                    selectedClassOptionList.includes(
                                        classOption.id
                                    )
                                "
                            >
                                {{
                                    getUnavailableClassOptionName(
                                        classOption.id
                                    ) + classOption.name | uppercase
                                }}
                            </option>
                        </optgroup>
                    </select>
                    <label for="ctags" class="label">{{ "etiqueta" }}</label>
                </div>
                <button
                    type="button"
                    class="dg-button w-25"
                    (click)="onAddClassOptionButtonClick()"
                    [disabled]="categoryForm.get('tags').value === 0"
                >
                    <span>{{ "añadir" | uppercase }}</span>
                </button>
            </div>

            <div
                class="form-field gap-2 scrolly"
                style="max-height: 100px"
                *ngIf="selectedClassOptionList.length > 0"
            >
                <div class="vstack gap-1">
                    <div
                        class="tag-badge"
                        style="font-size: 0.5em"
                        *ngFor="let selectedClass of selectedClassOptionList"
                    >
                        <span [title]="getClassOptionName(selectedClass)">{{
                            getClassOptionName(selectedClass)
                        }}</span>
                        <button
                            (click)="
                                onRemoveClassOptionButtonClick(selectedClass)
                            "
                        >
                            <i class="bi bi-x-lg"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="form-field">
                <input
                    type="text"
                    id="cname"
                    class="dg-input"
                    formControlName="name"
                    tabindex="-1"
                    [ngClass]="{
                        'has-content':
                            categoryForm.get('name').value?.length > 0
                    }"
                />
                <label for="cname" class="label">{{ "nombre" }}</label>
                <button
                    *ngIf="categoryForm.get('name').value?.length > 0"
                    (click)="categoryForm.patchValue({ name: '' })"
                >
                    <i class="bi bi-x-lg"></i>
                </button>
                <small
                    *ngIf="categoryForm.get('name').errors?.['required'] && categoryForm.get('name').touched"
                >
                    *Este campo es obligatorio.
                </small>
            </div>

            <div class="form-field">
                <textarea
                    type="text"
                    id="cdesc"
                    class="dg-input"
                    formControlName="description"
                    tabindex="-1"
                    [ngClass]="{
                        'has-content':
                            categoryForm.get('description').value?.length > 0
                    }"
                ></textarea>
                <label for="cdesc" class="label">{{ "descripcion" }}</label>
                <button
                    *ngIf="categoryForm.get('description').value?.length > 0"
                    (click)="categoryForm.patchValue({ description: '' })"
                >
                    <i class="bi bi-trash"></i>
                </button>
            </div>

            <div class="form-field">
                <input
                    type="text"
                    id="cimg"
                    class="dg-input"
                    formControlName="image"
                    tabindex="-1"
                    [ngClass]="{
                        'has-content':
                            categoryForm.get('image').value?.length > 0
                    }"
                />
                <label for="cimg" class="label">{{ "imagen" }}</label>
                <button
                    *ngIf="categoryForm.get('image').value?.length > 0"
                    (click)="categoryForm.patchValue({ image: '' })"
                >
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>

            <div class="hstack pt-2 justify-content-center gap-2">
                <button
                    type="submit"
                    class="dg-button w-50"
                    [disabled]="categoryForm.invalid"
                >
                    <span>{{ categoryFormSaveButtonTitle | uppercase }}</span>
                </button>
                <button
                    [mat-dialog-close]="undefined"
                    type="button"
                    class="dg-button w-50"
                >
                    <span>{{ "cancelar" | uppercase }}</span>
                </button>
            </div>
        </div>
    </form>
</div>
