<button class="close-button" [mat-dialog-close]="undefined">
    <i class="bi bi-x-lg"></i>
</button>

<div mat-dialog-content class="container scrolly">
    <form
        *ngIf="articleForm"
        [formGroup]="articleForm"
        (ngSubmit)="OnFormSubmitted()"
    >
        <div class="vstack gap-3">
            <div class="pb-2 text-center">
                <span class="title">{{
                    articleFormTitle | uppercase
                }}</span>
            </div>

            <div class="form-field">
                <select
                    id="apro"
                    class="dg-input"
                    formControlName="product"
                    tabindex="-1"
                    [ngClass]="{
                        'has-content': articleForm.get('product').value != null
                    }"
                >
                    <option
                        style="font-size: 1em"
                        *ngFor="let productOption of productOptionList"
                        value="{{ productOption.id }}"
                        title="{{ productOption.name }}"
                    >
                        {{ productOption.name | uppercase }}
                    </option>
                </select>
                <label for="apro" class="label">{{ "product" }}</label>
                <small
                    *ngIf="articleForm.get('product').errors?.['required'] && articleForm.get('product').touched"
                >
                    *Este campo es obligatorio.
                </small>
            </div>

            <div class="form-field">
                <input
                    type="text"
                    id="aname"
                    class="dg-input"
                    formControlName="name"
                    tabindex="-1"
                    [ngClass]="{
                        'has-content': articleForm.get('name').value?.length > 0
                    }"
                />
                <label for="aname" class="label">{{ "nombre" }}</label>
                <button
                    *ngIf="articleForm.get('name').value?.length > 0"
                    (click)="articleForm.patchValue({ name: '' })"
                >
                    <i class="bi bi-x-lg"></i>
                </button>
                <small
                    *ngIf="articleForm.get('name').errors?.['required'] && articleForm.get('name').touched"
                >
                    *Este campo es obligatorio.
                </small>
            </div>

            <div class="form-field">
                <textarea
                    type="text"
                    id="adesc"
                    class="dg-input"
                    formControlName="description"
                    tabindex="-1"
                    [ngClass]="{
                        'has-content':
                            articleForm.get('description').value?.length > 0
                    }"
                ></textarea>
                <label for="adesc" class="label">{{ "descripcion" }}</label>
                <button
                    *ngIf="articleForm.get('description').value?.length > 0"
                    (click)="articleForm.patchValue({ description: '' })"
                >
                    <i class="bi bi-trash"></i>
                </button>
            </div>

            <div class="form-field">
                <input
                    type="number"
                    id="aprice"
                    class="dg-input"
                    formControlName="price"
                    tabindex="-1"
                    [ngClass]="{
                        'has-content':
                            articleForm.get('price').value != undefined
                    }"
                />
                <label for="aprice" class="label">{{ "precio" }}</label>
                <button
                    *ngIf="articleForm.get('price').value?.length > 0"
                    (click)="articleForm.patchValue({ price: '' })"
                >
                    <i class="bi bi-x-lg"></i>
                </button>
                <small
                    *ngIf="articleForm.get('price').errors?.['required'] && articleForm.get('price').touched"
                >
                    *Este campo es obligatorio.
                </small>
            </div>

            <div class="form-field">
                <input
                    type="text"
                    id="aimg"
                    class="dg-input"
                    formControlName="image"
                    tabindex="-1"
                    [ngClass]="{
                        'has-content':
                            articleForm.get('image').value?.length > 0
                    }"
                />
                <label for="aimg" class="label">{{ "imagen" }}</label>
                <button
                    *ngIf="articleForm.get('image').value?.length > 0"
                    (click)="articleForm.patchValue({ image: '' })"
                >
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>

            <div class="form-field">
                <input
                    type="text"
                    id="abco"
                    class="dg-input"
                    formControlName="barcode"
                    tabindex="-1"
                    [ngClass]="{
                        'has-content':
                            articleForm.get('barcode').value?.length > 0
                    }"
                />
                <label for="abco" class="label">{{ "codigo de barras" }}</label>
                <button
                    *ngIf="articleForm.get('barcode').value?.length > 0"
                    (click)="articleForm.patchValue({ barcode: '' })"
                >
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>
            <div class="hstack pt-2 justify-content-center gap-2">
                <button
                    type="submit"
                    class="dg-button w-50"
                    [disabled]="articleForm.invalid"
                >
                    <span>{{ articleFormSaveButtonTitle | uppercase }}</span>
                </button>
                <button
                    [mat-dialog-close]="undefined"
                    type="button"
                    class="dg-button w-50"
                >
                    <span>{{ "cancelar" | uppercase }}</span>
                </button>
            </div>
        </div>
    </form>
</div>
